:root {
    --primary-color: #163C50;
    --secondary-color: #091820;
    --accent-color: #D1EFEF;
    --other-accent-color: #0a1b1f;
    --text-color: #091820;
    --text-color-light: #EBF7FF;
    --background-color:#EBF7FF;
    --font-family: 'Arial', sans-serif;
    --font-size: 16px;
    --line-height: 1.5;
    --spacing: 1rem;
}

.roboto-uniquifier {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-variation-settings:
      "wdth" 100;
  }
  
.nunito-sans-uniquifier {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }
body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows:auto 1fr auto;
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    
}
header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-color: var(--primary-color);
    color: var(--text-color-light);
    text-align: center;
}
.header nav {
    flex: 1 1 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--other-accent-color);
    padding: var(--spacing);
    
}
.header nav a {
    color: var(--text-color-light);
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    
    
}
.header nav a:hover {
    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 0.25rem;
}
main {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--background-color);
    color: var(--text-color);
    width: 95%;
    height: auto;
    margin: 40px;
    
}
 main :nth-child(1) {
    grid-column: 1 / 3;
      
}
main :nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    margin-left: 40px;
    
    
}
main h2 {
    grid-row: 1;
    font-size: 2rem;
    color: var(--text-color-light);
    text-align: center;
    background-color: var(--primary-color);
    padding: var(--spacing);
    margin-top: 0;
    margin-bottom: 0;
    
    
}
main h3 {
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
    padding: var(--spacing);
    margin-left: 80px;
    width: 60%;
    display: flex;
    float: left;
    justify-content: center;
    border-bottom: #091820 2px solid;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-radius: 0 0 10px 10px;
    margin-top: 0;
    padding-top:  0;

}
main h4 {
    
    font-size: 2rem;
    color: var(--text-color-light);
    text-align: center;

    background-color: var(--primary-color);
    padding: var(--spacing);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}
.card {
    grid-row: 1/ 3;
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
     
    
    }

.about {
    display: flex;
    text-align: center;
    margin: 40px;
    margin-bottom: 0;
    flex-direction: row; 
    font-size: 25px;
}
.profile-pic {
    
    float: right;
    position: relative;
    margin-left: 40px;
    width: 200px;
    height: auto;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--primary-color);
   

}
.san-antonio {
    
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: row-reverse;
    font-size: 25px;
    width: 90%;
    margin: 40px;
    height: auto;
    
}    
.san-antonio label {
    display: flex;
    
    text-align: center;
    font-size: 30px;
    color: var(--text-color);
    flex-wrap: wrap;
    
    
}

.riverwalk {
    float: left;
    margin: 30px;
    width:300px;
    height: auto;
    border-radius: 10px;
    
}
.card ul {
   
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-content: space-around;
    padding: 2px;
    margin-left: 60px;
    height: 800px;
    font-size: 20px;
    
}
footer {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    background-color: var(--primary-color);
    color: var(--text-color-light);
    text-align: center;
    padding: var(--spacing);
    margin-top: 0;
    margin-bottom: 0;
    
}